# .env file for backend configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/socialmedia"
JWT_SECRET=1234567890abcdef


# Descomentar quando estiver no ambiente de produção 
# GOOGLE_CLIENT_ID=SEU_ID
# GOOGLE_CLIENT_SECRET=SEU_SECRET
# GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Configurações para desenvolvimento local - usar as credenciais do Google Cloud Console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# FRONTEND_URL=http://localhost:5173
# FRONTEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001
FRONTEND_GOOGLE_REDIRECT_PATH=/auth/google/callback